<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuliang.product.mapper.product.SkuInfoMapper">
  <resultMap id="BaseResultMap" type="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_desc" jdbcType="VARCHAR" property="skuDesc" />
    <result column="sku_img" jdbcType="VARCHAR" property="skuImg" />
    <result column="sku_title" jdbcType="VARCHAR" property="skuTitle" />
    <result column="sku_subtitle" jdbcType="VARCHAR" property="skuSubtitle" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="sale_count" jdbcType="BIGINT" property="saleCount" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
  </resultMap>
  <resultMap id="AliasBaseResultMap" type="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    <id column="sku_info_id" jdbcType="BIGINT" property="id" />
    <result column="sku_info_sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_info_spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="sku_info_sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_info_sku_desc" jdbcType="VARCHAR" property="skuDesc" />
    <result column="sku_info_sku_img" jdbcType="VARCHAR" property="skuImg" />
    <result column="sku_info_sku_title" jdbcType="VARCHAR" property="skuTitle" />
    <result column="sku_info_sku_subtitle" jdbcType="VARCHAR" property="skuSubtitle" />
    <result column="sku_info_price" jdbcType="BIGINT" property="price" />
    <result column="sku_info_sale_count" jdbcType="BIGINT" property="saleCount" />
    <result column="sku_info_is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="sku_info_ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="sku_info_mtime" jdbcType="TIMESTAMP" property="mtime" />
  </resultMap>
  <sql id="Alias_Base_Column_List">
    ${alias}.id as sku_info_id, ${alias}.sku_id as sku_info_sku_id, ${alias}.spu_id as sku_info_spu_id, 
    ${alias}.sku_name as sku_info_sku_name, ${alias}.sku_desc as sku_info_sku_desc, ${alias}.sku_img as sku_info_sku_img, 
    ${alias}.sku_title as sku_info_sku_title, ${alias}.sku_subtitle as sku_info_sku_subtitle, 
    ${alias}.price as sku_info_price, ${alias}.sale_count as sku_info_sale_count, ${alias}.is_deleted as sku_info_is_deleted, 
    ${alias}.ctime as sku_info_ctime, ${alias}.mtime as sku_info_mtime
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sku_id, spu_id, sku_name, sku_desc, sku_img, sku_title, sku_subtitle, price, 
    sale_count, is_deleted, ctime, mtime
  </sql>
  <select id="selectByExample" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sku_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sku_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPoExample">
    delete from sku_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    insert into sku_info (id, sku_id, spu_id, 
      sku_name, sku_desc, sku_img, 
      sku_title, sku_subtitle, price, 
      sale_count, is_deleted, ctime, 
      mtime)
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, 
      #{skuName,jdbcType=VARCHAR}, #{skuDesc,jdbcType=VARCHAR}, #{skuImg,jdbcType=VARCHAR}, 
      #{skuTitle,jdbcType=VARCHAR}, #{skuSubtitle,jdbcType=VARCHAR}, #{price,jdbcType=BIGINT}, 
      #{saleCount,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{ctime,jdbcType=TIMESTAMP}, 
      #{mtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    insert into sku_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="skuDesc != null">
        sku_desc,
      </if>
      <if test="skuImg != null">
        sku_img,
      </if>
      <if test="skuTitle != null">
        sku_title,
      </if>
      <if test="skuSubtitle != null">
        sku_subtitle,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="saleCount != null">
        sale_count,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuDesc != null">
        #{skuDesc,jdbcType=VARCHAR},
      </if>
      <if test="skuImg != null">
        #{skuImg,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null">
        #{skuTitle,jdbcType=VARCHAR},
      </if>
      <if test="skuSubtitle != null">
        #{skuSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="saleCount != null">
        #{saleCount,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPoExample" resultType="java.lang.Long">
    select count(*) from sku_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sku_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=BIGINT},
      </if>
      <if test="record.spuId != null">
        spu_id = #{record.spuId,jdbcType=BIGINT},
      </if>
      <if test="record.skuName != null">
        sku_name = #{record.skuName,jdbcType=VARCHAR},
      </if>
      <if test="record.skuDesc != null">
        sku_desc = #{record.skuDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.skuImg != null">
        sku_img = #{record.skuImg,jdbcType=VARCHAR},
      </if>
      <if test="record.skuTitle != null">
        sku_title = #{record.skuTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.skuSubtitle != null">
        sku_subtitle = #{record.skuSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=BIGINT},
      </if>
      <if test="record.saleCount != null">
        sale_count = #{record.saleCount,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mtime != null">
        mtime = #{record.mtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sku_info
    set id = #{record.id,jdbcType=BIGINT},
      sku_id = #{record.skuId,jdbcType=BIGINT},
      spu_id = #{record.spuId,jdbcType=BIGINT},
      sku_name = #{record.skuName,jdbcType=VARCHAR},
      sku_desc = #{record.skuDesc,jdbcType=VARCHAR},
      sku_img = #{record.skuImg,jdbcType=VARCHAR},
      sku_title = #{record.skuTitle,jdbcType=VARCHAR},
      sku_subtitle = #{record.skuSubtitle,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=BIGINT},
      sale_count = #{record.saleCount,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      mtime = #{record.mtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    update sku_info
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        spu_id = #{spuId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuDesc != null">
        sku_desc = #{skuDesc,jdbcType=VARCHAR},
      </if>
      <if test="skuImg != null">
        sku_img = #{skuImg,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null">
        sku_title = #{skuTitle,jdbcType=VARCHAR},
      </if>
      <if test="skuSubtitle != null">
        sku_subtitle = #{skuSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="saleCount != null">
        sale_count = #{saleCount,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    update sku_info
    set sku_id = #{skuId,jdbcType=BIGINT},
      spu_id = #{spuId,jdbcType=BIGINT},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_desc = #{skuDesc,jdbcType=VARCHAR},
      sku_img = #{skuImg,jdbcType=VARCHAR},
      sku_title = #{skuTitle,jdbcType=VARCHAR},
      sku_subtitle = #{skuSubtitle,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      sale_count = #{saleCount,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertUpdate" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    insert into sku_info (id, sku_id, spu_id, 
      sku_name, sku_desc, sku_img, 
      sku_title, sku_subtitle, price, 
      sale_count, is_deleted, ctime, 
      mtime)
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{spuId,jdbcType=BIGINT}, 
      #{skuName,jdbcType=VARCHAR}, #{skuDesc,jdbcType=VARCHAR}, #{skuImg,jdbcType=VARCHAR}, 
      #{skuTitle,jdbcType=VARCHAR}, #{skuSubtitle,jdbcType=VARCHAR}, #{price,jdbcType=BIGINT}, 
      #{saleCount,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, #{ctime,jdbcType=TIMESTAMP}, 
      #{mtime,jdbcType=TIMESTAMP})
    <trim prefix="on duplicate key update" suffixOverrides=",">
      sku_id = values(sku_id),
      spu_id = values(spu_id),
      sku_name = values(sku_name),
      sku_desc = values(sku_desc),
      sku_img = values(sku_img),
      sku_title = values(sku_title),
      sku_subtitle = values(sku_subtitle),
      price = values(price),
      sale_count = values(sale_count),
      is_deleted = values(is_deleted),
      ctime = values(ctime),
      mtime = values(mtime),
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into 
      sku_info
      (sku_id,spu_id,sku_name,sku_desc,sku_img,sku_title,sku_subtitle,price,sale_count,is_deleted,ctime,mtime)
    values
    <foreach collection="list" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.skuId,jdbcType=BIGINT},
        #{item.spuId,jdbcType=BIGINT},
        #{item.skuName,jdbcType=VARCHAR},
        #{item.skuDesc,jdbcType=VARCHAR},
        #{item.skuImg,jdbcType=VARCHAR},
        #{item.skuTitle,jdbcType=VARCHAR},
        #{item.skuSubtitle,jdbcType=VARCHAR},
        #{item.price,jdbcType=BIGINT},
        #{item.saleCount,jdbcType=BIGINT},
        #{item.isDeleted,jdbcType=TINYINT},
        #{item.ctime,jdbcType=TIMESTAMP},
        #{item.mtime,jdbcType=TIMESTAMP},
      </trim>
    </foreach>
  </insert>
  <insert id="insertUpdateBatch" parameterType="java.util.List">
    insert into 
      sku_info
      (sku_id,spu_id,sku_name,sku_desc,sku_img,sku_title,sku_subtitle,price,sale_count,is_deleted,ctime,mtime)
    values
    <foreach collection="list" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.skuId,jdbcType=BIGINT},
        #{item.spuId,jdbcType=BIGINT},
        #{item.skuName,jdbcType=VARCHAR},
        #{item.skuDesc,jdbcType=VARCHAR},
        #{item.skuImg,jdbcType=VARCHAR},
        #{item.skuTitle,jdbcType=VARCHAR},
        #{item.skuSubtitle,jdbcType=VARCHAR},
        #{item.price,jdbcType=BIGINT},
        #{item.saleCount,jdbcType=BIGINT},
        #{item.isDeleted,jdbcType=TINYINT},
        #{item.ctime,jdbcType=TIMESTAMP},
        #{item.mtime,jdbcType=TIMESTAMP},
      </trim>
    </foreach>
    <trim prefix="on duplicate key update" suffixOverrides=",">
      sku_id = values(sku_id),
      spu_id = values(spu_id),
      sku_name = values(sku_name),
      sku_desc = values(sku_desc),
      sku_img = values(sku_img),
      sku_title = values(sku_title),
      sku_subtitle = values(sku_subtitle),
      price = values(price),
      sale_count = values(sale_count),
      is_deleted = values(is_deleted),
      ctime = values(ctime),
      mtime = values(mtime),
    </trim>
  </insert>
  <insert id="insertUpdateSelective" parameterType="com.qiuliang.product.model.pojo.product.SkuInfoPo">
    insert into sku_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="spuId != null">
        spu_id,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="skuDesc != null">
        sku_desc,
      </if>
      <if test="skuImg != null">
        sku_img,
      </if>
      <if test="skuTitle != null">
        sku_title,
      </if>
      <if test="skuSubtitle != null">
        sku_subtitle,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="saleCount != null">
        sale_count,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="spuId != null">
        #{spuId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuDesc != null">
        #{skuDesc,jdbcType=VARCHAR},
      </if>
      <if test="skuImg != null">
        #{skuImg,jdbcType=VARCHAR},
      </if>
      <if test="skuTitle != null">
        #{skuTitle,jdbcType=VARCHAR},
      </if>
      <if test="skuSubtitle != null">
        #{skuSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="saleCount != null">
        #{saleCount,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <trim prefix="on duplicate key update" suffixOverrides=",">
      <if test="skuId != null">
        sku_id = values(sku_id),
      </if>
      <if test="spuId != null">
        spu_id = values(spu_id),
      </if>
      <if test="skuName != null">
        sku_name = values(sku_name),
      </if>
      <if test="skuDesc != null">
        sku_desc = values(sku_desc),
      </if>
      <if test="skuImg != null">
        sku_img = values(sku_img),
      </if>
      <if test="skuTitle != null">
        sku_title = values(sku_title),
      </if>
      <if test="skuSubtitle != null">
        sku_subtitle = values(sku_subtitle),
      </if>
      <if test="price != null">
        price = values(price),
      </if>
      <if test="saleCount != null">
        sale_count = values(sale_count),
      </if>
      <if test="isDeleted != null">
        is_deleted = values(is_deleted),
      </if>
      <if test="ctime != null">
        ctime = values(ctime),
      </if>
      <if test="mtime != null">
        mtime = values(mtime),
      </if>
    </trim>
  </insert>
</mapper>